@font-face{
    font-family: "Montserrat";
    src: local("Montserrat"), url("../../../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

*{
    font-family: "Montserrat";
}